@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 8px;

}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

/* Own */

.modal {
  padding: 10px;
  display: flex; /* sets .container-icon and .container-rest in horizontal order */
}

.container-icon {
  margin: 10px;
}

.container-rest{
  margin: 10px;
  display: flex;
  flex-direction: column; /* sets .header-close-button, .text and .button in vertical order */
}

.header-close-button { /* sets .header and .close-button in horizontal order */
  display: flex;
  align-items: baseline;
  }

.header {
  font-weight: bold;
  font-size: 120%;
}

.text {
margin: 10px 10px 10px 0;
}

.close-button {
  margin-left: auto; /* aligns .close-button into right end */
}

/* Comments
Quite different from the solution. 

Own version had more containers:
- .container-icon -> containing icon
- .container-rest -> containing everything else
- .header-close-button -> containing header & close-button

Own version used more margins in different containers and was generally more complex

Solution made the following: 
- Added container around everything except icon
- Put .close-button inside .header
- Set justify-content: space-between for header -> this pushed .close-button on the right end, while keeping the header text in the left end
- Made .modal a flexbox, adding paddings and gap -> this put icon and container side by side with a gap between and padding around
- Added flex-shrink: 0 for .icon -> this prevented .container to squeeze it
- Added margin-bottom for .header and .text

*/